@model BankSimulation.Models.Transaction
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bank Simulation</h1>
    <p>
        <div class="btn btn-default">
             @Html.ActionLink("Deposit", "Deposit", "Home")
        </div>
        <div class="btn btn-default">
            @Html.ActionLink("Withdraw", "Withdraw", "Home")
        </div>
        <div class="btn btn-default">
            @Html.ActionLink("Transfer", "Transfer", "Home")
        </div>
</p>
</div>
